.wrapper{
  margin: auto;
  width: 980px;
  height: 800px;
}
.upper{
  width: 980px;
  height: 637px;
  background-color: rgb(182, 209, 239);
  color: rgb(254, 209, 152);
  text-align: center;
}
.header-img img{
  margin-top: -180px;
}
.main-text span{
height: 51px;
text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.17);
color: #fefefe;
font-family: "Houschka Pro";
font-size: 72px;
font-weight: 700;
text-transform: uppercase;
}
.add-text{
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: rgb(38,107,151);
  font-family: "Houschka Pro";
}
.lower{
  background-color: rgb(43, 100, 152);
  width: 980px;
  height: 343px;
}
.timing{
  text-align: -webkit-center;
}
.days, .hours, .mins{
  display: inline-block;
  margin-right: 40px;
  background-color: rgb(183, 173, 144);
  width: 70px;
  height: 70px;
  border-radius: 35px;
  color: rgb(71, 102, 102);
}
